@page "/"
@using System.Collections.Generic
@using CalculadoraPianoPiano.Shared
@inject NavigationManager NavigationManager

<PageTitle>Inicio</PageTitle>

<div class="pagina">

    <h3>Informacion General del Cliente</h3>

    <div>
        <label for="nombreCliente">Nombre del Cliente:</label>
        <input id="nombreCliente" placeholder="Nombre" @bind="@nombreCliente" />

        <label for="dropdownSector">Sector:</label>
        <select required id="dropdownSector" @bind="@sectorCliente">
            <option value="">Seleccionar Sector</option>
            @foreach (var option in dropdownSectores)
            {
                <option value="@option">@option</option>
            }
        </select>

        <label for="dropdownMadurez">Madurez:</label>
        <select required id="dropdownMadurez" @bind="@madurezCliente">
            <option value="">Seleccionar Madurez</option>
            @foreach (var option in dropdownMadurez)
            {
                <option value="@option">@option</option>
            }
        </select>
        <button @onclick="GuardarYContinuar">Continue</button>
    </div>
</div>

<style>
    .pagina {
        width: 80%;
        position:relative;
    }
</style>


@code {
    [CascadingParameter]
    public Cliente? nuevoCliente { get; set; }


    private string? nombreCliente;
    private string? sectorCliente;
    private string? madurezCliente;

    private List<string> dropdownSectores = new List<string> { "Financiero", "Retail", "Manufactura", "Servicios", "Gobierno", "Energia", "Tecnologia" };
    private List<string> dropdownMadurez = new List<string> { "Ad-Hoc", "Enlightened", "Centralizes", "Collaborative", "Self-Service" };

    private void GuardarYContinuar()
    {
        if (nuevoCliente != null && nombreCliente != null && sectorCliente != null && madurezCliente != null)
        {
            InfoCliente nuevaInformacion = new InfoCliente(nombreCliente, sectorCliente, madurezCliente);
            nuevoCliente.InfoCliente = nuevaInformacion;
            NavigationManager.NavigateTo("/seleccionDeSabores");
        }
        else
        {
            //TODO: Popup para que el cliente vea que faltan vainas
            Console.WriteLine("Faltan datos");
        }
    }
}


